<configuration>
  <packageSources>
    <clear />
    <add key="LocalNuGet" value="C:\NuGetTest" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet.org" value="true" />
  </disabledPackageSources>
</configuration>