<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CameraPasswordCryptorKey" value="7gz0c_'e~f6r:i6~QWS!?S4Eq1~Kr@$6" />
    <add key="CameraPasswordCryptorIV" value="-g.?8w|6G*/v0Qpp" />
    <add key="DatabaseServerPasswordCryptorKey" value="u710c_'e~hre:i6~WUE!?WfH5Q~Kr@$6" />
    <add key="DatabaseServerPasswordCryptorIV" value="*g.?9w|70G*/v0Qp" />
    <add key="UserPasswordCryptorKey" value="axO04_'e~hre:i6~WUE!?WfH5Q~Gr@$7" />
    <add key="UserPasswordCryptorIV" value="%h,?6f/6G*/v0Qpp" />
    <add key="VideoServerPasswordCryptorKey" value="u7O0c_'e~hre:i6~WUE!?WfH5Q~Kr@$6" />
    <add key="VideoServerPasswordCryptorIV" value="/g.?9w|6G*/v0Qpp" />
    <add key="WindowsPasswordCryptorKey" value="t8O0c*'e~hr5:it~WUE!?WfH5Q~Kr@$6" />
    <add key="WindowsPasswordCryptorIV" value=":g:?9w|7G*/v3Qkp" />
  </appSettings>
</configuration>