<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Component Id="LiveViewShortcut" Guid="*">

      <Shortcut Id="DesktopShortcut"
                Directory="DesktopFolder"
                Name="LiveView"
                WorkingDirectory="INSTALLFOLDER"
                IconIndex="0"
                Advertise="no"
                Target="[INSTALLFOLDER]LiveView.exe"
                Description="LiveView 2.0" />

      <RegistryValue Root="HKCU"
                     Key="Software\$(var.Company)\LiveView"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
    <ComponentGroup Id="LiveViewShortcutGroup">
      <ComponentRef Id="LiveViewShortcut" />
    </ComponentGroup>
  </Fragment>
</Wix>
