<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER_NET9" Name="LiveView_NET9" />
      <Directory Id="INSTALLFOLDER_NET462" Name="LiveView_NET462" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LiveViewComponents">
      <ComponentGroupRef Id="Net9Components"/>
      <ComponentGroupRef Id="Net462Components"/>
    </ComponentGroup>
  </Fragment>
</Wix>