<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="LiveView.Installer"
           Manufacturer="$(var.Company)"
           Version="$(var.ProgramVersion)"
           Compressed="yes"
           InstallerVersion="500"
           UpgradeCode="7e4a39ac-f309-4478-bfe6-e82a9856ab94">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="LiveViewMainFeature" Title="LiveView .NET 4.6.2">
      <ComponentGroupRef Id="LiveViewComponents"/>
    </Feature>

  </Package>
</Wix>
