<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartCameras" value="[&quot;0&quot;,&quot;E:\\Video\\Natasha Bedingfield - Pocketful of Sunshine (Official Video).mp4&quot;]" />
    <!--<add key="StartCameras" value="[&quot;0&quot;,&quot;1&quot;,&quot;2&quot;,&quot;E:\\Video\\Natasha Bedingfield - Pocketful of Sunshine (Official Video).mp4&quot;]" />-->
    <add key="LiveViewServer.IpAddress" value="192.168.0.134" />
    <add key="LiveViewServer.ListenerPort" value="4444" />
  </appSettings>
</configuration>